<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
  <link rel="stylesheet" href="../../../static/index.css">
  <link rel="stylesheet" href="../static/index.css">
  <title>Resume</title>
</head>
<body>
  <!-- navbar -->
    <nav class="navbar">
      <div class="back" onclick="history.back()">
      <i class="fi fi-sr-caret-square-left_1"></i>
      </div>
      <div class="sideName">
        Resume
      </div>
    </nav>



    <!-- footer -->
      <div class="footer">
        <div class="container">
          <ul class="lists">
            <li class="list">
              <a href="" class="link">
                Home
              </a>
            </li>
            <li class="list">
              <a href="" class="link">
                About
              </a>
            </li>
            <li class="list">
              <a href="" class="link">
                Contact
              </a>
            </li>
          </ul>
          <div class="copyright">
            &copy; copyright all rights reserved.
          </div>
        </div>
      </div>
    </footer>
</body>

</html>