* {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #edf2f3;
  font-family: Arial, Helvetica, sans-serif;
}

.document {
  
  
  border: 1px solid red;
}

.document .header {
  width: 100%;
  
  margin: 1px;
  border: 1px solid green;
}

.document .header .info {
  display: inline-block;
  
  margin: 1px;
  border: 1px solid blue;
}

.document .header .picture {
  display: inline-block;
  position: relative;
  top: 0;
  left: 16.7em;
  
  margin: 1px;
  border: 1px solid blue;
}

.document .body {
  text-align: center;
  
  margin: 1px;
  border: 1px solid orange;
}

.document .body .objectives {
  
  margin: 1px;
  border: 1px solid blue;
}

.document .body .personalData {
  
  margin: 1px;
  border: 1px solid blue;
}

.document .body .educationalBackground {
  
   margin: 1px;
   border: 1px solid blue;
}

.document .body .skills {
  
  margin: 1px;
  border: 1px solid blue;
}
  
.document .body .certificate {
  
  margin: 1px;
  border: 1px solid blue;
}

.document .footer {
  
  margin: 1px;
  border: 1px solid gray;
}

