* {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #edf2f3;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  padding: 100px 0;
  text-align: center;
}

.container {
  margin: 0 auto;
  padding: 10px 30px;
  max-width: 900px;
  text-align: center;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 25px 5rem;
  background-color: #263f60;
  z-index: 50;
}

.navbar .name {
  color: #FFFFFF;
  display: inline-block;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
  font-style: italic;
}

/*
header {
  color: #FFFFFF;
  background-color: #5289b5;
  padding: 225px 0 200px 0;
  text-align: center;
}
*/

.header {
  background-image: url("../static/image/mountain.jpg");
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 700px;
  z-index: 1;
}

.header .contents {
  text-align: center;
  position: absolute;
  top: 18.5rem;
  left: 5rem;
  z-index: 2;
}

.header .contents .title {
  font-weight: bold;
  font-size: 58px;
  color: #000000;
}

.header .contents .subtitle {
  font-size: 28px;
  color: #000000;
}

.header .contents .button {
  position: relative;
  top: 30px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding: 10px;
  border: 1px solid #000000;
}

.header .contents .button:hover {
  color: #FFFFFF;
  background-color: #000000;
  border: none;
}

.features {
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
}

.features .feature {
  background-color: #3f5679;
  padding:  50px;
  margin: 10px 30px;
  font-size: 25px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  flex: 1;
  flex-shrink: 1;
  flex-grow: 1;
}

.features .feature .label {
  color: #FFFFFF;
}

.features .feature i {
  font-size: 50px;
}

.features .feature:hover {
  transition: 0.1s;
  padding: 60px;
  margin: 5px 25px;
}

.quote {
  background-color: #263f60;
  color: #FFFFFF;
}

.quote .quotation {
  font-size: 25px;
}

.quote .citation {
  font-size: 15px;
  font-style: italic;
}

.quote .citation:before {
  content: '-';
  margin-right: 5px;
}

.footer {
  background-color: #1f3541;
  color: #868686;
  padding: 60px;
  text-align: center;
}

.footer .lists {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer .lists .list {
  display: inline-block;
}

.footer .lists .list .link {
  padding: 6px;
  font-size: 14px;
  text-decoration: none;
  color: #c3c3c3;
}

.footer .copyright {
  font-size: 14px;
  position: relative;
  top: 60px;
}

.footer .lists .list .link:hover {
  color: #FFFFFF;
}

@media screen and (max-width: 480px) {
    
    .navbar {
      padding: 10px 1rem;
    }

    .header .contents {
      left: 2.9rem;
    }
    
    .header .contents .title {
      font-size: 48px;
    }
    
    .header .contents .subtitle {
      font-size: 18px;
    }
    
    .features .feature {
      font-size: 20px;
    }
    
    .features .feature i {
      font-size: 30px;
    }
    
    .quote .quotation {
      font-size: 12px;
    }
    
    .quote .citation {
      font-size: 7px;
    }
    
    .quote .citation:before {
      margin-right: 2px;
    }
}    
